<a href="https://colab.research.google.com/github/evenikkal/mitp/blob/main/7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
from datetime import datetime

def create_database_basic():

    conn = sqlite3.connect('students.db')
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS students (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER,
            email TEXT UNIQUE,
            enrollment_date DATE,
            gpa REAL DEFAULT 0.0
        )
    ''')

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS courses (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            title TEXT NOT NULL,
            credits INTEGER,
            professor TEXT
        )
    ''')

    conn.commit()
    print("–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å–æ–∑–¥–∞–Ω–∞ —É—Å–ø–µ—à–Ω–æ")
    print("–¢–∞–±–ª–∏—Ü—ã: students, courses")

    conn.close()

def create_database_with_validation():
    """–°–æ–∑–¥–∞–Ω–∏–µ –ë–î —Å –≤–∞–ª–∏–¥–∞—Ü–∏–µ–π –¥–∞–Ω–Ω—ã—Ö"""

    conn = sqlite3.connect('students_validated.db')
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS students_validated (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER CHECK(age >= 18 AND age <= 100),
            email TEXT UNIQUE NOT NULL,
            gpa REAL CHECK(gpa >= 0 AND gpa <= 5),
            enrollment_date DATE DEFAULT CURRENT_DATE,
            created_at DATETIME DEFAULT CURRENT_TIMESTAMP
        )
    ''')

    print("–¢–∞–±–ª–∏—Ü–∞ —Å –≤–∞–ª–∏–¥–∞—Ü–∏–µ–π —Å–æ–∑–¥–∞–Ω–∞")
    print("  –û–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è: –≤–æ–∑—Ä–∞—Å—Ç 18-100, GPA 0-5, —É–Ω–∏–∫–∞–ª—å–Ω—ã–π email")

    conn.commit()
    conn.close()


if __name__ == '__main__':
    print("=" * 50)
    print("–°–û–ó–î–ê–ù–ò–ï –ë–î –ò –¢–ê–ë–õ–ò–¶")
    print("=" * 50)

    print("\n[1] –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ sqlite3:")
    create_database_basic()

    print("\n[2] –¢–∞–±–ª–∏—Ü–∞ —Å –≤–∞–ª–∏–¥–∞—Ü–∏–µ–π:")
    create_database_with_validation()

    print("\n" + "=" * 50)
    print("–§–∞–π–ª—ã —Å–æ–∑–¥–∞–Ω—ã: students.db, students_validated.db")
    print("=" * 50)

In [ ]:
import sqlite3

def sqlite3_example():

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE students (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            email TEXT,
            gpa REAL
        )
    ''')

    print("\n1Ô∏èINSERT - –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö:")

    cursor.execute(
        "INSERT INTO students (name, age, email, gpa) VALUES (?, ?, ?, ?)",
        ('–ê–Ω–Ω–∞ –°–º–∏—Ä–Ω–æ–≤–∞', 20, 'anna@mail.ru', 4.5)
    )
    students_data = [
        ('–ò–≤–∞–Ω –ü–µ—Ç—Ä–æ–≤', 21, 'ivan@mail.ru', 3.8),
        ('–ú–∞—Ä–∏—è –ò–≤–∞–Ω–æ–≤–∞', 19, 'maria@mail.ru', 4.8),
        ('–ê–ª–µ–∫—Å–∞–Ω–¥—Ä –°–∏–¥–æ—Ä–æ–≤', 22, 'alex@mail.ru', 3.5),
        ('–ï–ª–µ–Ω–∞ –ö–æ–≤–∞–ª–µ–Ω–∫–æ', 20, 'elena@mail.ru', 4.2),
    ]
    cursor.executemany(
        "INSERT INTO students (name, age, email, gpa) VALUES (?, ?, ?, ?)",
        students_data
    )

    conn.commit()
    print("–î–æ–±–∞–≤–ª–µ–Ω–æ 5 —Å—Ç—É–¥–µ–Ω—Ç–æ–≤")
    print("\n SELECT - –≤—Å–µ –∑–∞–ø–∏—Å–∏:")
    cursor.execute("SELECT * FROM students")
    for row in cursor.fetchall():
        print(f"  {row}")

    print("\n SELECT —Å WHERE (—Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è):")
    cursor.execute("SELECT name, gpa FROM students WHERE gpa >= 4.0")
    print("  –°—Ç—É–¥–µ–Ω—Ç—ã —Å GPA ‚â• 4.0:")
    for name, gpa in cursor.fetchall():
        print(f"    {name}: {gpa}")

    print("\n SELECT —Å ORDER BY (—Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞):")
    cursor.execute("SELECT name, age FROM students ORDER BY age DESC")
    print("  –ü–æ –≤–æ–∑—Ä–∞—Å—Ç—É (—É–±—ã–≤–∞–Ω–∏–µ):")
    for name, age in cursor.fetchall():
        print(f"    {name}: {age} –ª–µ—Ç")

    print("\n SELECT —Å LIMIT:")
    cursor.execute("SELECT name, gpa FROM students ORDER BY gpa DESC LIMIT 3")
    print("  –¢–æ–ø 3 –ª—É—á—à–∏—Ö —Å—Ç—É–¥–µ–Ω—Ç–∞:")
    for name, gpa in cursor.fetchall():
        print(f"    {name}: {gpa}")

    print("\n –ê–≥—Ä–µ–≥–∏—Ä—É—é—â–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ (COUNT, AVG, MAX, MIN):")
    cursor.execute("SELECT COUNT(*) FROM students")
    print(f"  –í—Å–µ–≥–æ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤: {cursor.fetchone()[0]}")

    cursor.execute("SELECT AVG(gpa) FROM students")
    print(f"  –°—Ä–µ–¥–Ω–∏–π GPA: {cursor.fetchone()[0]:.2f}")

    cursor.execute("SELECT MAX(gpa), MIN(gpa) FROM students")
    max_gpa, min_gpa = cursor.fetchone()
    print(f"  –î–∏–∞–ø–∞–∑–æ–Ω GPA: {min_gpa} - {max_gpa}")

    print("\n –°–ª–æ–∂–Ω—ã–µ —É—Å–ª–æ–≤–∏—è (AND, OR):")
    cursor.execute(
        "SELECT name FROM students WHERE age < 21 AND gpa > 4.0"
    )
    print("  –ú–æ–ª–æ–¥—ã–µ —Å—Ç—É–¥–µ–Ω—Ç—ã (< 21) —Å –≤—ã—Å–æ–∫–∏–º GPA (> 4.0):")
    for name, in cursor.fetchall():
        print(f"    {name}")

    print("\n DISTINCT - —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:")
    cursor.execute("SELECT DISTINCT age FROM students ORDER BY age")
    ages = [row[0] for row in cursor.fetchall()]
    print(f"  –í–æ–∑—Ä–∞—Å—Ç—ã —Å—Ç—É–¥–µ–Ω—Ç–æ–≤: {ages}")

    print("\n BETWEEN - –¥–∏–∞–ø–∞–∑–æ–Ω –∑–Ω–∞—á–µ–Ω–∏–π:")
    cursor.execute("SELECT name, gpa FROM students WHERE gpa BETWEEN 3.5 AND 4.5")
    print(f"  –°—Ç—É–¥–µ–Ω—Ç—ã —Å GPA –æ—Ç 3.5 –¥–æ 4.5:")
    for name, gpa in cursor.fetchall():
        print(f"    {name}: {gpa}")

    print("\n IN - –ø–æ–∏—Å–∫ –≤ —Å–ø–∏—Å–∫–µ:")
    cursor.execute("SELECT name FROM students WHERE name IN ('–ê–Ω–Ω–∞ –°–º–∏—Ä–Ω–æ–≤–∞', '–ò–≤–∞–Ω –ü–µ—Ç—Ä–æ–≤')")
    print(f"  –†–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø–æ–∏—Å–∫–∞:")
    for name, in cursor.fetchall():
        print(f"    {name}")

    conn.close()

def practical_examples():

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE sales (
            id INTEGER PRIMARY KEY,
            product TEXT,
            quantity INTEGER,
            price REAL,
            date TEXT
        )
    ''')

    sales_data = [
        ('–ù–æ—É—Ç–±—É–∫', 2, 50000, '2024-01-15'),
        ('–ú—ã—à—å', 10, 500, '2024-01-16'),
        ('–ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞', 5, 1500, '2024-01-17'),
        ('–ú—ã—à—å', 8, 500, '2024-01-18'),
        ('–ù–æ—É—Ç–±—É–∫', 1, 50000, '2024-01-19'),
    ]

    cursor.executemany(
        "INSERT INTO sales (product, quantity, price, date) VALUES (?, ?, ?, ?)",
        sales_data
    )
    conn.commit()

    print("\n" + "=" * 70)
    print("–ü–†–ò–ú–ï–†–´:")
    print("=" * 70)

    print("\n –û–±—â–∞—è —Å—É–º–º–∞ –ø—Ä–æ–¥–∞–∂:")
    cursor.execute("SELECT SUM(quantity * price) FROM sales")
    total = cursor.fetchone()[0]
    print(f"   –ò—Ç–æ–≥–æ: {total} —Ä—É–±.")

    print("\n –ü—Ä–æ–¥–∞–∂–∏ –ø–æ —Ç–æ–≤–∞—Ä–∞–º:")
    cursor.execute("""
        SELECT product,
               SUM(quantity) as total_qty,
               SUM(quantity * price) as total_sum
        FROM sales
        GROUP BY product
        ORDER BY total_sum DESC
    """)
    for product, qty, total in cursor.fetchall():
        print(f"   {product}: {qty} —à—Ç. = {total} —Ä—É–±.")

    print("\n –°–∞–º—ã–π –¥–æ—Ä–æ–≥–æ–π —Ç–æ–≤–∞—Ä:")
    cursor.execute("SELECT product, price FROM sales ORDER BY price DESC LIMIT 1")
    product, price = cursor.fetchone()
    print(f"   {product}: {price} —Ä—É–±.")

    print("\n –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ —Ç–æ–≤–∞—Ä–∞:")
    cursor.execute("SELECT AVG(price) FROM sales")
    avg_price = cursor.fetchone()[0]
    print(f"   {avg_price:.2f} —Ä—É–±.")

    conn.close()

if __name__ == '__main__':
    print("=" * 70)
    print("–í–´–ë–û–†–ö–ê –î–ê–ù–ù–´–• –ò–ó –¢–ê–ë–õ–ò–¶–´ (sqlite3)")
    print("=" * 70)

    sqlite3_example()
    practical_examples()

    print("\n" + "=" * 70)

In [ ]:
import sqlite3

def sqlite3_example():
    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE students (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            email TEXT,
            gpa REAL
        )
    ''')

    students = [
        ('–ê–Ω–Ω–∞ –°–º–∏—Ä–Ω–æ–≤–∞', 20, 'anna@mail.ru', 4.5),
        ('–ò–≤–∞–Ω –ü–µ—Ç—Ä–æ–≤', 21, 'ivan@mail.ru', 3.8),
        ('–ú–∞—Ä–∏—è –ò–≤–∞–Ω–æ–≤–∞', 19, 'maria@mail.ru', 4.8),
        ('–ê–ª–µ–∫—Å–∞–Ω–¥—Ä –°–∏–¥–æ—Ä–æ–≤', 22, 'alex@mail.ru', 2.5),
        ('–ï–ª–µ–Ω–∞ –ö–æ–≤–∞–ª–µ–Ω–∫–æ', 20, 'elena@mail.ru', 4.2),
    ]
    cursor.executemany(
        "INSERT INTO students (name, age, email, gpa) VALUES (?, ?, ?, ?)",
        students
    )
    conn.commit()

    print("\n –ù–∞—á–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ (5 —Å—Ç—É–¥–µ–Ω—Ç–æ–≤):")
    cursor.execute("SELECT * FROM students ORDER BY id")
    for row in cursor.fetchall():
        print(f"  {row}")

    print("\n UPDATE - –∏–∑–º–µ–Ω–µ–Ω–∏–µ –∑–∞–ø–∏—Å–∏ –ø–æ ID:")

    cursor.execute(
        "UPDATE students SET gpa = ? WHERE id = ?",
        (3.5, 4)
    )
    print("  –ò–∑–º–µ–Ω–µ–Ω—ã –¥–∞–Ω–Ω—ã–µ —Å—Ç—É–¥–µ–Ω—Ç–∞ —Å ID=4 (–Ω–æ–≤—ã–π GPA=3.5)")

    cursor.execute(
        "UPDATE students SET age = ?, gpa = ? WHERE name = ?",
        (21, 4.0, '–ò–≤–∞–Ω –ü–µ—Ç—Ä–æ–≤')
    )
    print("  –ò–∑–º–µ–Ω–µ–Ω—ã –≤–æ–∑—Ä–∞—Å—Ç –∏ GPA –ò–≤–∞–Ω–∞ –ü–µ—Ç—Ä–æ–≤–∞")

    conn.commit()

    cursor.execute("DELETE FROM students WHERE id = ?", (3,))
    print("  –£–¥–∞–ª–µ–Ω —Å—Ç—É–¥–µ–Ω—Ç —Å ID=3 (–ú–∞—Ä–∏—è –ò–≤–∞–Ω–æ–≤–∞)")

    conn.commit()

    print("\n  –ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è (–æ—Å—Ç–∞–ª–æ—Å—å 4 —Å—Ç—É–¥–µ–Ω—Ç–∞):")
    cursor.execute("SELECT id, name FROM students ORDER BY id")
    for id, name in cursor.fetchall():
        print(f"    ID {id}: {name}")

    print("\n DELETE —Å —É—Å–ª–æ–≤–∏–µ–º (WHERE):")

    cursor.execute("DELETE FROM students WHERE gpa < 3.0")
    print("  –£–¥–∞–ª–µ–Ω—ã —Å—Ç—É–¥–µ–Ω—Ç—ã —Å GPA < 3.0")

    conn.commit()

    print("\n  –û—Å—Ç–∞–≤—à–∏–µ—Å—è —Å—Ç—É–¥–µ–Ω—Ç—ã:")
    cursor.execute("SELECT id, name, gpa FROM students ORDER BY id")
    for id, name, gpa in cursor.fetchall():
        print(f"    ID {id}: {name} (GPA: {gpa})")

    print("\n–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞:")
    cursor.execute("SELECT COUNT(*) FROM students")
    count = cursor.fetchone()[0]
    print(f"  –û—Å—Ç–∞–ª–æ—Å—å —Å—Ç—É–¥–µ–Ω—Ç–æ–≤: {count}")

    cursor.execute("SELECT AVG(gpa) FROM students")
    avg_gpa = cursor.fetchone()[0]
    print(f"  –°—Ä–µ–¥–Ω–∏–π GPA: {avg_gpa:.2f}")

    conn.close()

def practical_examples():
    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE products (
            id INTEGER PRIMARY KEY,
            name TEXT,
            price REAL,
            quantity INTEGER,
            active INTEGER DEFAULT 1
        )
    ''')

    products = [
        ('–ù–æ—É—Ç–±—É–∫', 50000, 5, 1),
        ('–ú—ã—à—å', 500, 50, 1),
        ('–ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞', 1500, 20, 1),
        ('–ú–æ–Ω–∏—Ç–æ—Ä', 5000, 3, 1),
        ('–ö–∞–±–µ–ª—å', 100, 100, 0),
    ]

    cursor.executemany(
        "INSERT INTO products (name, price, quantity, active) VALUES (?, ?, ?, ?)",
        products
    )
    conn.commit()

    print("\n" + "=" * 70)
    print("–ü–†–ê–ö–¢–ò–ß–ï–°–ö–ò–ï –ü–†–ò–ú–ï–†–´ –ò–ó–ú–ï–ù–ï–ù–ò–Ø –î–ê–ù–ù–´–•:")
    print("=" * 70)

    print("\n –£–≤–µ–ª–∏—á–∏—Ç—å —Ü–µ–Ω—É –∞–∫—Ç–∏–≤–Ω—ã—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω–∞ 10%:")
    cursor.execute("UPDATE products SET price = price * 1.1 WHERE active = 1")
    print("  –¶–µ–Ω—ã –æ–±–Ω–æ–≤–ª–µ–Ω—ã")

    cursor.execute("SELECT name, price FROM products WHERE active = 1 ORDER BY price")
    for name, price in cursor.fetchall():
        print(f"    {name}: {price:.0f} —Ä—É–±.")

    print("\n –°–Ω–∏–º–∞–µ–º —Ç–æ–≤–∞—Ä —Å –ø—Ä–æ–¥–∞–∂–∏ –µ—Å–ª–∏ –∫–∞—á–µ—Å—Ç–≤–æ –Ω–∏–∂–µ –∑–∞–¥–∞–Ω–Ω–æ–≥–æ (quantity < 5):")
    cursor.execute("UPDATE products SET active = 0 WHERE quantity < 5")
    print("  –¢–æ–≤–∞—Ä—ã - –≤—Å—ë ")

    print("\n  –£–¥–∞–ª–∏—Ç—å –Ω–µ–∞–∫—Ç–∏–≤–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã:")
    cursor.execute("DELETE FROM products WHERE active = 0")
    deleted = cursor.rowcount
    print(f"  –£–¥–∞–ª–µ–Ω–æ {deleted} —à—Ç—É–∫")
    conn.commit()

    print("\n  –ê–∫—Ç–∏–≤–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã:")
    cursor.execute("SELECT name, price, quantity FROM products")
    for name, price, qty in cursor.fetchall():
        print(f"    {name}: {price:.0f} —Ä—É–±. ({qty} —à—Ç.)")

    conn.close()

def transaction_example():

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    cursor.execute('''
        CREATE TABLE accounts (
            id INTEGER PRIMARY KEY,
            name TEXT,
            balance REAL
        )
    ''')

    cursor.execute("INSERT INTO accounts (name, balance) VALUES (?, ?)", ('–ê–ª–∏—Å–∞', 1000))
    cursor.execute("INSERT INTO accounts (name, balance) VALUES (?, ?)", ('–ë–æ–±', 500))
    conn.commit()

    print("\n" + "=" * 70)
    print("–¢–†–ê–ù–ó–ê–ö–¶–ò–ò –ò –ë–ï–ó–û–ü–ê–°–ù–û–°–¢–¨:")
    print("=" * 70)

    print("\n –ü—Ä–∏–º–µ—Ä: –ü–µ—Ä–µ–≤–æ–¥ –¥–µ–Ω–µ–≥ –º–µ–∂–¥—É —Å—á–µ—Ç–∞–º–∏")
    print("  –ù–∞—á–∞–ª—å–Ω—ã–µ –±–∞–ª–∞–Ω—Å—ã: –ê–ª–∏—Å–∞=1000, –ë–æ–±=500")

    try:
        print("\n  –ü–æ–ø—ã—Ç–∫–∞: –ü–µ—Ä–µ–≤–µ—Å—Ç–∏ 200 –æ—Ç –ê–ª–∏—Å—ã –∫ –ë–æ–±—É")

        cursor.execute("UPDATE accounts SET balance = balance - ? WHERE name = ?", (200, '–ê–ª–∏—Å–∞'))

        cursor.execute("UPDATE accounts SET balance = balance + ? WHERE name = ?", (200, '–ë–æ–±'))

        conn.commit()
        print("  –û–ø–µ—Ä–∞—Ü–∏—è —É—Å–ø–µ—à–Ω–∞")

    except Exception as e:
        conn.rollback()
        print(f"  –û—à–∏–±–∫–∞: {e}")
        print("  –í—Å–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è –æ—Ç–º–µ–Ω–µ–Ω—ã")

    print("\n  –§–∏–Ω–∞–ª—å–Ω—ã–µ –±–∞–ª–∞–Ω—Å—ã:")
    cursor.execute("SELECT name, balance FROM accounts")
    for name, balance in cursor.fetchall():
        print(f"    {name}: {balance} —Ä—É–±.")

    conn.close()

if __name__ == '__main__':
    print("=" * 70)
    print("–£–î–ê–õ–ï–ù–ò–ï –ò –ò–ó–ú–ï–ù–ï–ù–ò–ï –ó–ê–ü–ò–°–ï–ô")
    print("=" * 70)

    sqlite3_example()
    practical_examples()
    transaction_example()

In [ ]:
import sqlite3

def one_to_many_example():

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    print("\n" + "=" * 70)
    print("–ü–†–ò–ú–ï–† 1: ONE-TO-MANY (–ü—Ä–µ–ø–æ–¥–∞–≤–∞—Ç–µ–ª—å ‚Üí –ö—É—Ä—Å—ã)")
    print("=" * 70)

    cursor.execute('''
        CREATE TABLE professors (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            department TEXT
        )
    ''')

    cursor.execute('''
        CREATE TABLE courses (
            id INTEGER PRIMARY KEY,
            title TEXT NOT NULL,
            credits INTEGER,
            professor_id INTEGER NOT NULL,
            FOREIGN KEY (professor_id) REFERENCES professors(id)
        )
    ''')

    professors = [
        ('–ò–≤–∞–Ω –ò–≤–∞–Ω–æ–≤–∏—á', '–ú–∞—Ç–µ–º–∞—Ç–∏–∫–∞'),
        ('–ú–∞—Ä–∏—è –ü–µ—Ç—Ä–æ–≤–Ω–∞', '–ò–Ω—Ñ–æ—Ä–º–∞—Ç–∏–∫–∞'),
    ]
    cursor.executemany(
        "INSERT INTO professors (name, department) VALUES (?, ?)",
        professors
    )

    courses = [
        ('–õ–∏–Ω–µ–π–Ω–∞—è –∞–ª–≥–µ–±—Ä–∞', 3, 1),
        ('–î–∏—Å–∫—Ä–µ—Ç–Ω–∞—è –º–∞—Ç–µ–º–∞—Ç–∏–∫–∞', 4, 1),
        ('–ê–ª–≥–æ—Ä–∏—Ç–º—ã', 4, 2),
        ('–ë–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö', 3, 2),
    ]
    cursor.executemany(
        "INSERT INTO courses (title, credits, professor_id) VALUES (?, ?, ?)",
        courses
    )
    conn.commit()

    print("\nüìö –ö—É—Ä—Å—ã –∫–∞–∂–¥–æ–≥–æ –ø—Ä–µ–ø–æ–¥–∞–≤–∞—Ç–µ–ª—è:")

    cursor.execute('''
        SELECT p.name, c.title, c.credits
        FROM professors p
        JOIN courses c ON p.id = c.professor_id
        ORDER BY p.name, c.title
    ''')

    current_prof = None
    for prof_name, course_title, credits in cursor.fetchall():
        if prof_name != current_prof:
            print(f"\n  {prof_name}:")
            current_prof = prof_name
        print(f"    ‚Ä¢ {course_title} ({credits} –∫—Ä–µ–¥–∏—Ç–æ–≤)")

    print("\nüìä –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞:")
    cursor.execute('''
        SELECT p.name, COUNT(c.id) as course_count
        FROM professors p
        LEFT JOIN courses c ON p.id = c.professor_id
        GROUP BY p.id, p.name
    ''')

    for prof, count in cursor.fetchall():
        print(f"  {prof}: {count} –∫—É—Ä—Å(–æ–≤)")

    conn.close()


def many_to_many_example():
    """–ü—Ä–∏–º–µ—Ä: –°—Ç—É–¥–µ–Ω—Ç ‚Üî –ö—É—Ä—Å—ã (–º–Ω–æ–≥–æ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ –Ω–∞ –º–Ω–æ–≥–æ –∫—É—Ä—Å–æ–≤)"""

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    print("\n" + "=" * 70)
    print("–ü–†–ò–ú–ï–† 2: MANY-TO-MANY (–°—Ç—É–¥–µ–Ω—Ç ‚Üî –ö—É—Ä—Å—ã)")
    print("=" * 70)

    cursor.execute('''
        CREATE TABLE students (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            email TEXT UNIQUE
        )
    ''')

    cursor.execute('''
        CREATE TABLE courses_m2m (
            id INTEGER PRIMARY KEY,
            title TEXT NOT NULL
        )
    ''')

    cursor.execute('''
        CREATE TABLE enrollments (
            student_id INTEGER,
            course_id INTEGER,
            grade REAL,
            PRIMARY KEY (student_id, course_id),
            FOREIGN KEY (student_id) REFERENCES students(id),
            FOREIGN KEY (course_id) REFERENCES courses_m2m(id)
        )
    ''')

    students = [
        ('–ê–Ω–Ω–∞ –°–º–∏—Ä–Ω–æ–≤–∞', 'anna@mail.ru'),
        ('–ò–≤–∞–Ω –ü–µ—Ç—Ä–æ–≤', 'ivan@mail.ru'),
        ('–ú–∞—Ä–∏—è –ò–≤–∞–Ω–æ–≤–∞', 'maria@mail.ru'),
    ]
    cursor.executemany(
        "INSERT INTO students (name, email) VALUES (?, ?)",
        students
    )

    courses = [
        ('–ú–∞—Ç–µ–º–∞—Ç–∏–∫–∞',),
        ('–ò–Ω—Ñ–æ—Ä–º–∞—Ç–∏–∫–∞',),
        ('–ê–Ω–≥–ª–∏–π—Å–∫–∏–π —è–∑—ã–∫',),
    ]
    cursor.executemany(
        "INSERT INTO courses_m2m (title) VALUES (?)",
        courses
    )

    enrollments = [
        (1, 1, 4.5),
        (1, 2, 4.8),
        (2, 1, 3.8),
        (2, 3, 4.2),
        (3, 2, 4.5),
        (3, 3, 4.9),
    ]
    cursor.executemany(
        "INSERT INTO enrollments (student_id, course_id, grade) VALUES (?, ?, ?)",
        enrollments
    )
    conn.commit()

    print("\nüë®‚Äçüéì –ö—É—Ä—Å—ã –∫–∞–∂–¥–æ–≥–æ —Å—Ç—É–¥–µ–Ω—Ç–∞:")

    cursor.execute('''
        SELECT s.name, c.title, e.grade
        FROM students s
        JOIN enrollments e ON s.id = e.student_id
        JOIN courses_m2m c ON e.course_id = c.id
        ORDER BY s.name, c.title
    ''')

    current_student = None
    for student_name, course_title, grade in cursor.fetchall():
        if student_name != current_student:
            print(f"\n  {student_name}:")
            current_student = student_name
        print(f"    ‚Ä¢ {course_title}: {grade}")

    print("\n\nüìñ –°—Ç—É–¥–µ–Ω—Ç—ã –Ω–∞ –∫–∞–∂–¥–æ–º –∫—É—Ä—Å–µ:")

    cursor.execute('''
        SELECT c.title, s.name, e.grade
        FROM courses_m2m c
        JOIN enrollments e ON c.id = e.course_id
        JOIN students s ON e.student_id = s.id
        ORDER BY c.title, s.name
    ''')

    current_course = None
    for course_title, student_name, grade in cursor.fetchall():
        if course_title != current_course:
            print(f"\n  {course_title}:")
            current_course = course_title
        print(f"    ‚Ä¢ {student_name}: {grade}")

    print("\n\nüìä –°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤:")

    cursor.execute('''
        SELECT s.name, AVG(e.grade) as avg_grade
        FROM students s
        JOIN enrollments e ON s.id = e.student_id
        GROUP BY s.id, s.name
        ORDER BY avg_grade DESC
    ''')

    for student_name, avg_grade in cursor.fetchall():
        print(f"  {student_name}: {avg_grade:.2f}")

    conn.close()

def complex_queries_example():
    """–°–ª–æ–∂–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã —Å JOIN –∏ –∞–≥—Ä–µ–≥–∏—Ä—É—é—â–∏–º–∏ —Ñ—É–Ω–∫—Ü–∏—è–º–∏"""

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    print("\n" + "=" * 70)
    print("–°–õ–û–ñ–ù–´–ï –ó–ê–ü–†–û–°–´ –° –ù–ï–°–ö–û–õ–¨–ö–ò–ú–ò –¢–ê–ë–õ–ò–¶–ê–ú–ò")
    print("=" * 70)

    cursor.execute('''CREATE TABLE suppliers (id INTEGER PRIMARY KEY, name TEXT)''')
    cursor.execute('''CREATE TABLE products (id INTEGER PRIMARY KEY, name TEXT, supplier_id INTEGER)''')
    cursor.execute('''CREATE TABLE sales (id INTEGER PRIMARY KEY, product_id INTEGER, quantity INTEGER, price REAL)''')

    suppliers = [('ABC Company',), ('XYZ Corp',), ('Test Ltd',)]
    cursor.executemany("INSERT INTO suppliers (name) VALUES (?)", suppliers)

    products = [
        ('–ù–æ—É—Ç–±—É–∫', 1),
        ('–ú—ã—à—å', 1),
        ('–ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞', 2),
        ('–ú–æ–Ω–∏—Ç–æ—Ä', 2),
    ]
    cursor.executemany("INSERT INTO products (name, supplier_id) VALUES (?, ?)", products)

    sales = [
        (1, 2, 50000),
        (2, 10, 500),
        (3, 5, 1500),
        (4, 1, 5000),
        (1, 1, 50000),
    ]
    cursor.executemany("INSERT INTO sales (product_id, quantity, price) VALUES (?, ?, ?)", sales)
    conn.commit()

    print("\n1Ô∏è‚É£  –ü—Ä–æ–¥–∞–∂–∏ –ø–æ –ø–æ—Å—Ç–∞–≤—â–∏–∫–∞–º:")

    cursor.execute('''
        SELECT
            s.name as supplier,
            p.name as product,
            COUNT(*) as times_sold,
            SUM(sl.quantity * sl.price) as total_revenue
        FROM suppliers s
        JOIN products p ON s.id = p.supplier_id
        JOIN sales sl ON p.id = sl.product_id
        GROUP BY s.id, p.id
        ORDER BY total_revenue DESC
    ''')

    for supplier, product, times, revenue in cursor.fetchall():
        print(f"  {supplier} ‚Üí {product}: {times} –ø—Ä–æ–¥–∞–∂, {revenue:.0f} —Ä—É–±.")

    print("\n2Ô∏è‚É£  –¢–æ–ø –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –≤—ã—Ä—É—á–∫–µ:")

    cursor.execute('''
        SELECT
            s.name,
            COUNT(DISTINCT sl.id) as total_sales,
            SUM(sl.quantity * sl.price) as revenue
        FROM suppliers s
        JOIN products p ON s.id = p.supplier_id
        JOIN sales sl ON p.id = sl.product_id
        GROUP BY s.id
        ORDER BY revenue DESC
    ''')

    for supplier, sales_count, revenue in cursor.fetchall():
        print(f"  {supplier}: {sales_count} –ø—Ä–æ–¥–∞–∂, {revenue:.0f} —Ä—É–±.")

    conn.close()

if __name__ == '__main__':
    print("\n" + "=" * 70)
    print("–°–í–Ø–ó–ò –ú–ï–ñ–î–£ –¢–ê–ë–õ–ò–¶–ê–ú–ò –ò JOIN")
    print("=" * 70)

    one_to_many_example()
    many_to_many_example()
    complex_queries_example()

    print("\n\n" + "=" * 70)
    print("–ö–õ–Æ–ß–ï–í–´–ï –ö–û–ù–¶–ï–ü–¶–ò–ò:")
    print("=" * 70)
    print("""
FOREIGN KEY (–≤–Ω–µ—à–Ω–∏–π –∫–ª—é—á):
  ‚Ä¢ –°–≤—è–∑—ã–≤–∞–µ—Ç –¥–≤–µ —Ç–∞–±–ª–∏—Ü—ã
  ‚Ä¢ –ì–∞—Ä–∞–Ω—Ç–∏—Ä—É–µ—Ç —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö
  ‚Ä¢ FOREIGN KEY (column) REFERENCES other_table(id)

ONE-TO-MANY (1:N):
  ‚Ä¢ –û–¥–∏–Ω –æ–±—ä–µ–∫—Ç –∏–º–µ–µ—Ç –º–Ω–æ–≥–æ —Å–≤—è–∑–∞–Ω–Ω—ã—Ö –æ–±—ä–µ–∫—Ç–æ–≤
  ‚Ä¢ –ü—Ä–∏–º–µ—Ä: –ü—Ä–µ–ø–æ–¥–∞–≤–∞—Ç–µ–ª—å ‚Üí –ö—É—Ä—Å—ã
  ‚Ä¢ –†–µ–∞–ª–∏–∑—É–µ—Ç—Å—è —á–µ—Ä–µ–∑ FOREIGN KEY –≤ —Ç–∞–±–ª–∏—Ü–µ "–º–Ω–æ–≥–æ"

MANY-TO-MANY (N:N):
  ‚Ä¢ –ú–Ω–æ–≥–æ –æ–±—ä–µ–∫—Ç–æ–≤ —Å–≤—è–∑–∞–Ω–æ —Å –º–Ω–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞–º–∏
  ‚Ä¢ –ü—Ä–∏–º–µ—Ä: –°—Ç—É–¥–µ–Ω—Ç ‚Üî –ö—É—Ä—Å—ã
  ‚Ä¢ –†–µ–∞–ª–∏–∑—É–µ—Ç—Å—è —á–µ—Ä–µ–∑ –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—É—é —Ç–∞–±–ª–∏—Ü—É

JOIN - –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü:
  INNER JOIN    - —Ç–æ–ª—å–∫–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏–µ –∑–∞–ø–∏—Å–∏
  LEFT JOIN     - –≤—Å–µ –∏–∑ –ª–µ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã + —Å–æ–≤–ø–∞–¥–∞—é—â–∏–µ –∏–∑ –ø—Ä–∞–≤–æ–π
  RIGHT JOIN    - –≤—Å–µ –∏–∑ –ø—Ä–∞–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã + —Å–æ–≤–ø–∞–¥–∞—é—â–∏–µ –∏–∑ –ª–µ–≤–æ–π
  FULL OUTER JOIN - –≤—Å–µ –∑–∞–ø–∏—Å–∏ –∏–∑ –æ–±–µ–∏—Ö —Ç–∞–±–ª–∏—Ü
""")
    print("=" * 70)

In [ ]:
import sqlite3
import time
import random

def indexing_example():
    """–°–æ–∑–¥–∞–Ω–∏–µ –∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –∏–Ω–¥–µ–∫—Å–æ–≤"""

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    print("\n" + "=" * 70)
    print("–ü–†–ò–ú–ï–† 1: –°–û–ó–î–ê–ù–ò–ï –ò –ò–°–ü–û–õ–¨–ó–û–í–ê–ù–ò–ï –ò–ù–î–ï–ö–°–û–í")
    print("=" * 70)

    cursor.execute('''
        CREATE TABLE students_no_idx (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            email TEXT,
            student_id TEXT,
            gpa REAL,
            enrollment_year INTEGER
        )
    ''')

    cursor.execute('''
        CREATE TABLE students_with_idx (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            email TEXT,
            student_id TEXT,
            gpa REAL,
            enrollment_year INTEGER
        )
    ''')

    cursor.execute('CREATE INDEX idx_email ON students_with_idx(email)')
    cursor.execute('CREATE INDEX idx_student_id ON students_with_idx(student_id)')
    cursor.execute('CREATE INDEX idx_gpa ON students_with_idx(gpa)')
    cursor.execute('CREATE INDEX idx_enrollment ON students_with_idx(enrollment_year)')

    print("\n‚úì –¢–∞–±–ª–∏—Ü—ã —Å–æ–∑–¥–∞–Ω—ã")
    print("  ‚Ä¢ students_no_idx: –±–µ–∑ –∏–Ω–¥–µ–∫—Å–æ–≤")
    print("  ‚Ä¢ students_with_idx: —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏ –Ω–∞ email, student_id, gpa, enrollment_year")

    print("\nüìä –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü (10,000 –∑–∞–ø–∏—Å–µ–π)...")

    students_data = []
    names = ['–ê–Ω–Ω–∞', '–ò–≤–∞–Ω', '–ú–∞—Ä–∏—è', '–ê–ª–µ–∫—Å–∞–Ω–¥—Ä', '–ï–ª–µ–Ω–∞', '–ü–µ—Ç—Ä']
    surnames = ['–°–º–∏—Ä–Ω–æ–≤', '–ü–µ—Ç—Ä–æ–≤', '–ò–≤–∞–Ω–æ–≤', '–°–∏–¥–æ—Ä–æ–≤', '–ö–æ–≤–∞–ª–µ–Ω–∫–æ']

    for i in range(10000):
        name = f"{random.choice(names)} {random.choice(surnames)}"
        email = f"student{i}@mail.ru"
        student_id = f"S{i:06d}"
        gpa = round(random.uniform(2.0, 5.0), 2)
        year = random.randint(2018, 2023)
        students_data.append((name, email, student_id, gpa, year))

    cursor.executemany(
        "INSERT INTO students_no_idx (name, email, student_id, gpa, enrollment_year) VALUES (?, ?, ?, ?, ?)",
        students_data
    )
    cursor.executemany(
        "INSERT INTO students_with_idx (name, email, student_id, gpa, enrollment_year) VALUES (?, ?, ?, ?, ?)",
        students_data
    )
    conn.commit()

    print("–î–æ–±–∞–≤–ª–µ–Ω–æ 10,000 —Å—Ç—É–¥–µ–Ω—Ç–æ–≤")

    print("\nüîç EXPLAIN QUERY PLAN:")

    test_email = 'student5000@mail.ru'

    print(f"\n–ü–æ–∏—Å–∫ –ø–æ email: '{test_email}'")

    print("\n  –ë–ï–ó –∏–Ω–¥–µ–∫—Å–∞:")
    cursor.execute(f"EXPLAIN QUERY PLAN SELECT * FROM students_no_idx WHERE email = '{test_email}'")
    for row in cursor.fetchall():
        print(f"    {row[3]}")

    print("\n  –° –∏–Ω–¥–µ–∫—Å–æ–º:")
    cursor.execute(f"EXPLAIN QUERY PLAN SELECT * FROM students_with_idx WHERE email = '{test_email}'")
    for row in cursor.fetchall():
        print(f"    {row[3]}")

    print("\n‚è±Ô∏è  –í–†–ï–ú–Ø –í–´–ü–û–õ–ù–ï–ù–ò–Ø –ó–ê–ü–†–û–°–û–í:")

    print("\n  –ü–æ–∏—Å–∫ –ø–æ email (100 –∑–∞–ø—Ä–æ—Å–æ–≤):")

    start = time.time()
    for i in range(100):
        cursor.execute(
            "SELECT * FROM students_no_idx WHERE email = ?",
            (f"student{random.randint(0, 9999)}@mail.ru",)
        )
    time_no_idx = (time.time() - start) * 1000
    print(f"    –ë–µ–∑ –∏–Ω–¥–µ–∫—Å–∞: {time_no_idx:.2f} –º—Å")

    start = time.time()
    for i in range(100):
        cursor.execute(
            "SELECT * FROM students_with_idx WHERE email = ?",
            (f"student{random.randint(0, 9999)}@mail.ru",)
        )
    time_with_idx = (time.time() - start) * 1000
    print(f"    –° –∏–Ω–¥–µ–∫—Å–æ–º: {time_with_idx:.2f} –º—Å")

    speedup = time_no_idx / time_with_idx if time_with_idx > 0 else 1
    print(f"    –£—Å–∫–æ—Ä–µ–Ω–∏–µ: {speedup:.1f}x")

    conn.close()

def search_types_example():
    """–ü—Ä–∏–º–µ—Ä—ã —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —Ç–∏–ø–æ–≤ –ø–æ–∏—Å–∫–æ–≤"""

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    print("\n" + "=" * 70)
    print("–ü–†–ò–ú–ï–† 2: –†–ê–ó–õ–ò–ß–ù–´–ï –¢–ò–ü–´ –ü–û–ò–°–ö–û–í")
    print("=" * 70)

    cursor.execute('''
        CREATE TABLE products (
            id INTEGER PRIMARY KEY,
            name TEXT,
            category TEXT,
            price REAL,
            quantity INTEGER
        )
    ''')

    cursor.execute('CREATE INDEX idx_category ON products(category)')
    cursor.execute('CREATE INDEX idx_price ON products(price)')
    cursor.execute('CREATE INDEX idx_name ON products(name)')

    products = [
        ('–ù–æ—É—Ç–±—É–∫ Dell', '–≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞', 50000, 5),
        ('–ù–æ—É—Ç–±—É–∫ HP', '–≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞', 45000, 3),
        ('–ú—ã—à—å USB', '–ê–∫—Å–µ—Å—Å—É–∞—Ä—ã', 500, 50),
        ('–ö–ª–∞–≤–∏–∞—Ç—É—Ä–∞', '–ê–∫—Å–µ—Å—Å—É–∞—Ä—ã', 1500, 20),
        ('–ú–æ–Ω–∏—Ç–æ—Ä 24"', '–≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞', 5000, 10),
        ('–ö–∞–±–µ–ª—å HDMI', '–ê–∫—Å–µ—Å—Å—É–∞—Ä—ã', 300, 100),
    ]
    cursor.executemany(
        "INSERT INTO products (name, category, price, quantity) VALUES (?, ?, ?, ?)",
        products
    )
    conn.commit()

    print("\n1Ô∏è‚É£  –¢–æ—á–Ω—ã–π –ø–æ–∏—Å–∫ (–∏–Ω–¥–µ–∫—Å –ø–æ–º–æ–≥–∞–µ—Ç):")
    cursor.execute("SELECT * FROM products WHERE category = '–≠–ª–µ–∫—Ç—Ä–æ–Ω–∏–∫–∞'")
    for name, category, price, qty in cursor.fetchall():
        print(f"  {name}: {price} —Ä—É–±. ({qty} —à—Ç.)")

    print("\n2Ô∏è‚É£  –î–∏–∞–ø–∞–∑–æ–Ω–Ω—ã–π –ø–æ–∏—Å–∫ (–∏–Ω–¥–µ–∫—Å –ø–æ–º–æ–≥–∞–µ—Ç):")
    cursor.execute("SELECT name, price FROM products WHERE price BETWEEN 400 AND 2000 ORDER BY price")
    for name, price in cursor.fetchall():
        print(f"  {name}: {price} —Ä—É–±.")

    print("\n3Ô∏è‚É£  –ü–æ–∏—Å–∫ –ø–æ –ø—Ä–µ—Ñ–∏–∫—Å—É LIKE (–∏–Ω–¥–µ–∫—Å –º–æ–∂–µ—Ç –Ω–µ –ø–æ–º–æ—á—å):")
    cursor.execute("SELECT name FROM products WHERE name LIKE '–ù–æ—É—Ç–±—É–∫%'")
    for name, in cursor.fetchall():
        print(f"  {name}")

    print("\n4Ô∏è‚É£  –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –∫–æ–ª–æ–Ω–∫–µ (–±—ã—Å—Ç—Ä–æ):")
    cursor.execute("SELECT name, price FROM products ORDER BY price DESC LIMIT 3")
    print("  –°–∞–º—ã–µ –¥–æ—Ä–æ–≥–∏–µ —Ç–æ–≤–∞—Ä—ã:")
    for name, price in cursor.fetchall():
        print(f"    {name}: {price} —Ä—É–±.")

    print("\n5Ô∏è‚É£  –ê–≥—Ä–µ–≥–∏—Ä—É—é—â–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ —Å GROUP BY:")
    cursor.execute("""
        SELECT category, COUNT(*) as count, AVG(price) as avg_price
        FROM products
        GROUP BY category
    """)
    for category, count, avg_price in cursor.fetchall():
        print(f"  {category}: {count} —Ç–æ–≤–∞—Ä–æ–≤, —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ {avg_price:.0f} —Ä—É–±.")

    conn.close()

def index_info_example():
    """–ü–æ–ª—É—á–µ–Ω–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ–± –∏–Ω–¥–µ–∫—Å–∞—Ö"""

    conn = sqlite3.connect(':memory:')
    cursor = conn.cursor()

    print("\n" + "=" * 70)
    print("–ü–†–ò–ú–ï–† 3: –ò–ù–§–û–†–ú–ê–¶–ò–Ø –û–ë –ò–ù–î–ï–ö–°–ê–•")
    print("=" * 70)

    cursor.execute('''
        CREATE TABLE users (
            id INTEGER PRIMARY KEY,
            username TEXT UNIQUE,
            email TEXT UNIQUE,
            age INTEGER
        )
    ''')

    cursor.execute('CREATE INDEX idx_age ON users(age)')
    cursor.execute('CREATE INDEX idx_username ON users(username)')

    conn.commit()

    print("\nüìã –°–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∏–Ω–¥–µ–∫—Å–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ 'users':")

    cursor.execute("SELECT name FROM sqlite_master WHERE type='index' AND tbl_name='users'")
    indexes = cursor.fetchall()

    for idx_name, in indexes:
        print(f"  ‚Ä¢ {idx_name}")

    print("\nüìù –î–µ—Ç–∞–ª—å–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –∏–Ω–¥–µ–∫—Å–∞—Ö:")

    for idx_name, in indexes:
        cursor.execute(f"PRAGMA index_info({idx_name})")
        cols = cursor.fetchall()
        col_names = [col[2] for col in cols]  # –ò–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫
        print(f"  {idx_name}: {', '.join(col_names)}")

    print("\nüìä –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞:")
    print(f"  –í—Å–µ–≥–æ –∏–Ω–¥–µ–∫—Å–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ 'users': {len(indexes)}")
    print(f"  –û–±—ä–µ–º –¥–∞–Ω–Ω—ã—Ö: –ø—Ä–∏–º–µ—Ä–Ω—ã–π (—Ñ—É–Ω–∫—Ü–∏—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –Ω–µ–¥–æ—Å—Ç—É–ø–Ω–∞ –≤ SQLite)")

    conn.close()

if __name__ == '__main__':
    indexing_example()
    search_types_example()
    index_info_example()